body {
    margin: 0;
}

header {
    font-size: 50px;
    padding: 10px 5px 10px 10px;
    font-weight: bold;
    /* border: 1px solid black; */
}

.content {
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width:350px; 
    border: 1px solid black;
}

.display {
    border: 1px solid black;
    display: flex;
    flex-grow: 1;
}

.task-button {
    width: 100%;
}

.git-credit {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    background-color: rgb(76, 73, 73);
    color: white;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 0 5px rgb(86, 83, 83);
    
}