body {
    margin: 0;
    height: 100vh;
    display: grid;
    gap: 5px;
    grid-template-columns:350px 1fr ;
    grid-template-rows: 60px 10fr 50px;
}

header {
    grid-row: 1/1;
    grid-column: 1/3;
    font-size: 50px;
    font-weight: bold;
    padding: 5px 0 5px 10px;
    background-color: aliceblue;
}

.sidebar {
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: stretch;
    background-color: bisque;
    display: flex;
    flex-direction: column;
}

.display {
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
}

.git-credit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(76, 73, 73);
    color: white;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 0 5px rgb(86, 83, 83);
    grid-row: 3/4;
    grid-column: 1/3;
}