body {
    margin: 0;
    height: 100vh;
    display: grid;
    gap: 5px;
    grid-template-columns:350px 1fr ;
    grid-template-rows: 60px 10fr 50px;
    font-family: 'Courier New', Courier, monospace;
}

button {
    border-radius: 10px;
    border: 0;
    height: 30px;
    transition: 0.2s;
}

button:hover {
    box-shadow: 0 0 8px 0 rgb(255, 255, 255);
    border: 0;
    transition: 0.2s;
}

header {
    grid-row: 1/1;
    grid-column: 1/3;
    font-size: 50px;
    font-weight: bold;
    padding: 5px 0 5px 10px;
    background-color: aliceblue;
}

.sidebar {
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: stretch;
    padding: 5px 9px 0 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-right: 1px solid rgb(207, 202, 202);
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.project-tab {
    background-color: rgb(114, 115, 116);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    height: 30px;
    padding: 5px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 5px;
}

.display {
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    padding: 5px 5px 0 5px;
    gap: 5px;
    margin-left: 50px;
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 700px;
}

.task-intro  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.task-tab {
    background-color: rgb(207, 207, 207);
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    min-height: 30px;
    padding: 5px;
}
.complete {
    background-color: rgb(77, 247, 34);
}
.expand {
    display: none;

}

.task-description {
    height: 150px;
    max-width: 700px;
    text-wrap: wrap;
}

.task-button {
    max-width: 700px;
}

/* .default-task-title {
    display: flex;
    align-items: center;
    column-gap: 10px;
} */

.git-credit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(76, 73, 73);
    color: white;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 0 5px rgb(86, 83, 83);
    grid-row: 3/4;
    grid-column: 1/3;
}